.checkout-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fdf5e6;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.checkout-container h2 {
  text-align: center;
  color: #e04d2a;
  font-size: 2rem;
  margin-bottom: 20px;
}

.checkout-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: rgb(247, 231, 204);
}

.checkout-table th,
.checkout-table td {
  border: 1px solid #ddd;
  padding: 12px 20px;
  text-align: left;
  font-size: 1.1rem;
}

.checkout-table th {
  background-color: #f4d19e;
  font-weight: bold;
}

.checkout-table tr:nth-child(even) {
  background-color: #fdf0d4;
}

.checkout-table tr:hover {
  background-color: #f7e3bf;
}

.checkout-container label {
  font-size: 1.3rem;
  font-weight: bold;
  display: block;
  margin: 20px 0 5px;
  color: #333;
}

.checkout-container p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e04d2a;
}

.checkout-container button {
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #e04d2a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.checkout-container button:hover {
  background-color: #ff6347;
  transform: scale(1.05);
}

.customer-info {
  background-color: #fdf5e6;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
  max-width: 800px;
  margin-top: 20px;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.customer-info ul {
  list-style-type: none;
  padding: 0;
}

.customer-info li {
  font-size: 1.2rem;
  color: #333;
  padding: 8px 0;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.customer-info li:last-child {
  border-bottom: none;
}
